spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/auth/**, /api/users/**
          filters:
            - StripPrefix=1
        - id: catalog-service
          uri: http://catalog-service:8082
          predicates:
            - Path=/api/catalog/** 
          filters:
            - StripPrefix=1
        - id: loan-service
          uri: http://loan-service:8083
          predicates:
            - Path=/api/loans/** 
          filters:
            - StripPrefix=1
        - id: reservation-service
          uri: http://reservation-service:8084
          predicates:
            - Path=/api/reservations/** 
          filters:
            - StripPrefix=1
server:
  port: 8080
